{% extends "base.html" %}
{% block content %}


<h3>There are {{ number_of_msg }} messages</h3>
<br>

{% for entry in list_of_entries %}
    <h3>{{ entry.subject }}</h3>

        {% for mail in entry.mails %}

            {% if mail.done == False %}
            <p>{{ mail.key }}: {{ mail.text | urlize }}<span class="pull-right"><a class="text-danger" href="/mark_as_done/{{mail.key}}">[done]</a></span></p>
{#{ url_for('mark_as_done', key=mail.key, _external=True) }#}
            {#<!--span class="pull-right"><a class="text-danger" href="{{ url_for('mark_as_done', key=mail.key, _external=True) }}">[done]</a></span-->#}
            {# <span class="pull-right"><a class="text-danger" href="/mark_as_done/{{mail.key}}">[done]</a></span> #}

            {% endif %}

        {% endfor %}
    <p>________________________________</p>

{% endfor %}

{% endblock %}